 
.table1{
  border-bottom-width : 1px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #002f00;
  font-size : 14px;
  font-weight : bold;  color : #ffffff;
  background-color : #5e4245;
}
.table2{
  font-size : 13px;
  font-weight : normal;
  background-color : #fffeec;
border-width : 1px 1px 1px 1px;border-style : solid solid solid solid;border-color : #b0ab91 #b0ab91 #b0ab91 #b0ab91;}
.teble3{
  font-size : 13px;
  
  
  border-width : 1px 1px 1px 1px;border-top-style : solid;border-right-style : solid;border-bottom-style : solid;border-left-style : solid;border-top-color : #85745c;border-left-color : #85745c;border-right-color : #85745c;border-bottom-color : #85745c;
  font-weight : normal;
}
.teble4{
  font-size : 13px;
  background-color : #fffdfd;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-style : solid solid solid solid;
  border-top-color : #2c051e;border-right-color : #2c051e;border-bottom-color : #2c051e;border-left-color : #2c051e;
  font-weight : normal;
  color : #425227;
  line-height : 18px;
}
.table5{
  font-size : 13px;
  font-weight : normal;
  color : #4e4227;border-width : 1px 1px 1px 1px;border-top-style : solid;border-left-style : solid;border-right-style : solid;border-bottom-style : solid;border-color : #50644d #50644d #50644d #50644d;
  
}
.cell0{
  background-color : #f4e6d9;
}
.cell1{
  
  background-color : #fffeec;
  color : #5e064a;
  
}
.cell2{
  color : #39251e;
  background-color : #e4ddc0;
  
}
.cell3{
  
  
  background-color : #faf2e4;
}
.cell4{
  
  color : #999999;
  background-color : #eeeeee;
}
.cell5{
  font-weight : normal;
}

.line_cell0{
  background-color : #f4e6d9;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #b0ab91;
}
.line_cell1{
  
  color : #5e064a;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #dac4a5;
  background-color : #fffeec;
}
.line_cell2{
  
  
  color : #39251e;
  background-color : #e4ddc0;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #b0ab91;
}
.line_cell3{
  
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #b0ab91;
  background-color : #faf2e4;
}
.line_cell4{
  
  
  color : #999999;
  background-color : #eeeeee;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #aab4b4;
}
.line_cell5{
  font-weight : normal;
}
.line_cell6{
  border-bottom-width : 3px;
  border-bottom-style : double;
  border-bottom-color : #004000;
}

.title_cell1{
  font-size : 14px;
  background-color : #764f49;
  color : #ffffff;
  font-weight : bold;
  padding-top : 6px;
  padding-bottom : 6px;
border-width : 1px 1px 1px 1px;border-style : solid solid solid solid;border-color : #f4fbfb #362c38 #362c38 #f4fbfb;
  padding-left : 6px;
}
.title_cell2{
  font-size : 14px;
  color : #f1e6c2;
  font-weight : bold;
  letter-spacing : 2px;
  padding-top : 6px;
  padding-left : 6px;
  padding-right : 6px;
  padding-bottom : 6px;
  background-color : #765147;
}
.title_cell3{
  font-weight : normal;
}
.title_cell4{
  font-weight : normal;
}
.title_cell5{
  font-weight : normal;
}
.title_text1{
  font-size : 14px;
  font-weight : bold;
  color : maroon;
}
.title_text2{
  font-weight : normal;
}
.title_text3{
  font-weight : normal;
}
.title_text4{
  font-weight : normal;
}
.title_text5{
  font-weight : normal;
}
.pict1{
  color : #993f39;
  background-color : #993f39;
  vertical-align : middle;
}
.pict2{
  color : fuchsia;
  background-color : #ffceaa;
  border-top-width : 1px;border-right-width : 1px;border-bottom-width : 1px;border-left-width : 1px;border-style : solid solid solid solid;border-color : white #493821 white;border-left-color : maroon;border-bottom-color : #493821;border-left-color : white;
  text-align : left;
  vertical-align : middle;
}
.pict3{
  color : white;
  background-color : #ff8040;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #993f39;
  border-bottom-color : #993f39;
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : white;
  border-left-color : white;
  vertical-align : middle;
}
.pict4{
  color : #50644d;
  background-color : #50644d;
  vertical-align : middle;
}
.color1{
  background-color : #8c8564;
}
.color2{
  background-color : #b0ab91;
}
.color3{
  background-color : #eecac6;
}
.color4{
  font-weight : normal;
}
.color5{
  font-weight : normal;
}
.color6{
  font-weight : normal;
}
.color7{
  background-color : ##f7cb63;
}
.text1{
  line-height : 17px;
  padding-bottom : 5px;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
color : #735f59;
}
BODY{
  font-size : 13px;
  color : #00002b;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
}
TH{
  font-size : 12px;
  color : #ffffff;
  background-color : #7e5a5e;
  font-weight : bold;
  padding-top : 4px;
  padding-bottom : 4px;
}
A{
  color : #84090c;
}
A:HOVER{
  color : #ff8080;
}
TABLE{
  font-size : 13px;
}
.menu_title1{
  background-color : #5f4b55;
  font-size : 14px;
  font-weight : bold;
  color : #faf9e4;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : black;
}
.menu_title2{
  background-color : #c6ba93;
  
  border-top-width : 2px;
  border-bottom-width : 2px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #737044;
  border-bottom-color : #737044;
  color : #ffffff;
}
.menu_title3{
  background-color : #faebcf;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #d1c1a5;
  font-size : 12px;
}
.menu_body{
  background-color : #fffbec;
  border-right-width : 1px;
  border-right-style : solid;
  border-right-color : #526129;
}

A.A_menu{color : #6a006a;
  text-decoration : none;
}
A.A_menu:hover{color:#FF3300;}




TABLE CAPTION {
	font-size:16px;
	font-weight:bold;
	text-align:left;
	padding:10px 0 7px 8px;
	color : #505067;
}

/*-------------------- IME --------------------*/
.ime_jpn {
	ime-mode: active;
}
.ime_eng {
	ime-mode: inactive;
}
.ime_num ,
.ime_eng_only {
	ime-mode: disabled;
}
