 
.table1{
  border-width : 1px 0px;border-bottom-width : 1px;border-left-width : 0px;
  border-style : solid solid solid solid;
  border-color : #101207 #5b2c1e #002f00;border-left-color : #5b2c1e;border-left-color : #002f00;
  font-size : 14px;
  font-weight : bold;
  color : #fcfecb;
  background-color : #614b0c;
}
.table2{
  font-size : 13px;
  font-weight : normal;
  background-color : gray;
  
  
  
}
.teble3{
  font-size : 14px;
  background-color : #c89f15;
  
  
  
  color : #493821;
  
  
  
  }
.teble4{
  font-size : 13px;
  
  background-color : #fdfce1;
  padding-top : 5px;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  border-top-width : 1px;
  border-left-width : 1px;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-style : solid solid solid solid;
  border-top-color : #6a0013;border-right-color : #6a0013;border-bottom-color : #6a0013;border-left-color : #6a0013;
  font-weight : normal;
  color : #493821;
  line-height : 18px;
}
.table5{
  font-size : 13px;
  font-weight : normal;
  color : #5b2c1e;border-width : 1px 1px 1px 1px;border-top-style : solid;border-left-style : solid;border-right-style : solid;border-bottom-style : solid;border-color : #50644d #50644d #50644d #50644d;
  background-color : #ffffff;
}

.cell1{
  font-weight : normal;
  background-color : #fcfcda;
  color : #5b2c1e;
  
  
  
  
  font-size : 13px;
}
.cell2{
  
  
  color : #5b2c1e;
  
  border-bottom-width : 0px;
  border-bottom-style : solid;
  border-bottom-color : white;
  background-color : #e1d7a2;
  
  font-size : 13px;
  
}
.cell3{
  font-size : 13px;
  font-weight : normal;
  background-color : #f2fdd5;
}
.cell4{
  
  font-weight : bold;
  
  font-size : 14px;
  color : #50644d;
  background-color : #ffcf00;
}
.cell5{
  
  font-weight : normal;
  
  
  background-color : #d9d9d9;
}

.title_text1{
  font-size : 14px;
  font-weight : bold;
  color : maroon;
}
.title_text2{
  font-size : 13px;
  font-weight : normal;
  color : olive;
}
.title_text3{
  font-size : 13px;
  font-weight : normal;
  color : #993f39;
  
}
.title_text4{
  font-size : 15px;

  color : #50644d;
}
.title_text5{
  font-size : 12px;
  color : #5b2c1e;
  
}

.title_cell1{
  font-size : 14px;
  background-color : #705612;
  
  
  
  
  
  
  
  
  
  
  
  
  color : #ffffff;
  font-weight : bold;
  
  border-width : 1px 1px 1px 1px;border-style : solid solid solid solid;border-color : #de9c54 black;border-bottom-color : black;border-left-color : #de9c54;
  
  
  
  
}
.title_cell2{
  font-size : 13px;
  background-color : #e3d675;
  
}
.title_cell4{
  font-size : 13px;
  color : #50644d;
  background-color : #fff7f0;
}



.line_cell1{
  font-size : 13px;
  color : #5b2c1e;
  background-color : #ffcf00;
  
  
  
  padding-bottom : 0px;border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-style : solid;
  border-bottom-color : #5b2c1e;
  border-bottom-color : #5b2c1e;
  font-weight : normal;
}
.line_cell3{
  font-size : 13px;
  color : #5b2c1e;
  
  padding-top : 2px;
  padding-left : 2px;
  padding-right : 2px;
  padding-bottom : 2px;
  
  
  border-bottom-width : 0px;
  
  
  border-bottom-width : 3px;
  
  
  
  
  border-bottom-style : double;
  
  
  
  border-bottom-color : #5b2c1e;
  
}
.line_cell4{
  font-size : 13px;
  font-weight : normal;
  color : black;
  
  
  
  
  
  
  
  background-color : #fcfcda;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #5b2c1e;
  
  
  
  
  
  
  
  
  
  
  
  
}
.line_cell5{
  font-size : 14px;
  font-weight : bold;
  background-color : white;
  padding-top : 0px;
  
  
  padding-bottom : 0px;
  border-top-width : 1px;
  border-bottom-width : 2px;
  border-bottom-width : 1px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-bottom-style : solid;
  border-top-color : #665f00;
  border-bottom-color : #665f00;
}

.pict1{
  
  color : #993f39;
  background-color : #993f39;
}
.pict2{
  
  color : #ffffff;
  background-color : #eea244;border-top-width : 1px;border-right-width : 1px;border-bottom-width : 1px;border-left-width : 1px;border-style : solid solid solid solid;border-color : white olive;border-bottom-color : white;border-left-color : #493821;border-left-color : #493821;border-left-color : maroon;border-bottom-color : olive;border-left-color : white;
  line-height : 0px;
  
  
  text-align : left;
  
  
  vertical-align : middle;
}


.color1{
  
  background-color : #705612;
  
}
.color2{
  
  background-color : #c89b24;
  
  
}
.color3{
  font-size : 13px;
  background-color : #e1d7a2;
}
.color4{
  font-size : 13px;
  background-color : #f2fdd5;
}
.color5{
  font-size : 13px;
  
  
}
.color6{
  background-color : #ffcf00;
  color : #5b2c1e;
}
.color7{
  background-color : ##f7cb63;
}

BODY{
  font-size : 13px;
  color : #404000;
  margin-top : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 0px;
  
}
TH{
  font-size : 12px;
  color : #fcfecb;
  background-color : #705612;
  
  
  
  
  
  font-weight : bold;
  
  
  
  
  

  padding-top : 3px;
  padding-bottom : 3px;
}
A{
  color : #008080;
}
A:HOVER{
  color : #ff8080;
}
.pict3{
  
  color : white;
  background-color : #ff8040;
  border-right-width : 1px;
  border-bottom-width : 1px;
  border-right-style : solid;
  border-bottom-style : solid;
  border-right-color : #993f39;
  border-bottom-color : #993f39;
  border-top-width : 1px;
  border-left-width : 1px;
  border-top-style : solid;
  border-left-style : solid;
  border-top-color : white;
  border-left-color : white;
}
.pict4{
  color : #50644d;
  background-color : #50644d;
}
TD{
  
  
  font-size : 13px;
}
.line_cell2{
  background-color : #fcfcda;
  border-left-width : 1px;
  border-left-style : solid;
  border-left-color : #5b2c1e;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #5b2c1e;
}
.title_cell5{
  color : #ffffff;
  
}
.menu_title1{
  background-color : #7c500e;
  
  

  font-size : 14px;
  font-weight : bold;
  color : white;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : black;
}
.menu_title2{
  background-color : #a88c2d;
  
  border-top-width : 2px;
  border-bottom-width : 2px;
  border-top-style : solid;
  border-bottom-style : solid;
  border-top-color : #234947;
  border-bottom-color : #234947;
  color : #f9f7ec;
}
.menu_title3{
  background-color : #fdeaa6;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #400000;
  
  font-size : 12px;
}
.menu_body{
  background-color : #e0cea3;
  

  border-right-width : 1px;
  border-right-style : solid;
  border-right-color : #526129;
}

A.A_menu{color:#535C93;}
A.A_menu:hover{color:#FF3300;}